{% if _ssl  %}
<IfModule mod_ssl.c>
{% endif %}

<IfModule mod_wsgi.c>

{% for d in (VHOST_CONF_DIR, ETOXWS_APPDIR) %}
<Directory {{d}}>

{% if SYS_APACHE_VERSION == "2.4"  %}
  Require all granted
{% else %}
  Order allow,deny
  Allow from all
{% endif %}

</Directory>
{% endfor %}

Alias /{{ETOXWS_NAME}}/doc {{ETOXWS_APPDIR}}/doc/build/html

<Location /{{ETOXWS_NAME}}/v2/schema/>
{% if SYS_APACHE_VERSION == "2.4"  %}
  Require all granted
{% else %}
  Order allow,deny
  Allow from all
{% endif %}
</Location>

<Location /{{ETOXWS_NAME}}>
{% if SYS_APACHE_VERSION == "2.4"  %}
  AuthMerging Or
  Require local
{% else %}
  Order allow,deny
  Allow from all
{% endif %}
</Location>

WSGIScriptAlias /{{ETOXWS_NAME}} {{etoxws_wsgi}}
WSGIApplicationGroup %{GLOBAL}
WSGIDaemonProcess {{ETOXWS_NAME}}{{_ssl}} processes=15 threads=1 python-path={{etoxws_virtenv}}/lib/python{{python_version}}/site-packages
WSGIProcessGroup {{ETOXWS_NAME}}{{_ssl}}

</IfModule>

{% if _ssl %}
</IfModule>

ProxyPreserveHost On
AllowEncodedSlashes On

<Location /{{ETOXWS_NAME}}/rabbitmq/api>
ProxyPass        http://localhost:15672/api nocanon
</Location>

<Location /{{ETOXWS_NAME}}/rabbitmq>
ProxyPass         http://localhost:15672
ProxyPassReverse  http://localhost:15672
</Location>

<Location /{{ETOXWS_NAME}}/celery>
RequestHeader set X-SCHEME https
ProxyPass           http://localhost:15555
ProxyPassReverse    http://localhost:15555
</Location>

{% endif %}

