<IfModule mod_wsgi.c>

<Directory {{ETOXWS_APPDIR}}>
  Order allow,deny
  Allow from all
</Directory>

{% if _ssl  %}
<IfModule mod_ssl.c>
{% endif %}
  WSGIScriptAlias /{{ETOXWS_NAME}} {{etoxws_wsgi}}
  WSGIApplicationGroup %{GLOBAL}{{_ssl}}
  WSGIDaemonProcess {{ETOXWS_NAME}}{{_ssl}} processes=15 threads=1 python-path={{etoxws_virtenv}}/lib/python{{python_version}}/site-packages
  WSGIProcessGroup {{ETOXWS_NAME}}{{_ssl}}
{% if _ssl %}
</IfModule>
{% endif %}

</IfModule>

