[program:{{ETOXWS_NAME}}{{_cel_variant}}]

{% if "flower" in _cel_variant %}
command = {{etoxws_celery}} -A etoxwsapi.djcelery flower --address=0.0.0.0 --port=15555 --url_prefix=/{{ETOXWS_NAME}}/celery/ --basic_auth={{ETOXWS_NAME}}:{{ETOXWS_SERVICE_PASSWD}} --xheaders
{% else %}
command = {{etoxws_celery}} -A etoxwsapi.djcelery worker --loglevel=info {% if ETOXWS_NPROC|int > 0 %} -c {{ETOXWS_NPROC}}{% endif %}
{% endif %}

environment = RABBITMQ_NODENAME="{{MQ_NODE}}",LD_LIBRARY_PATH="{{RDKIT_DIR}}/lib",PYTHONPATH="{{ETOXWS_APPDIR}}/src:/opt/rdkit/lib/python{{python_version}}/site-packages{%-for p in (ETOXWS_IMPL_V1.PYPATH, ETOXWS_IMPL_V2.PYPATH) -%}
		{%- if p|length > 0 %}:{{ p }}{%- endif -%}
	{%- endfor -%}
	{%- if pydevd|length > 0 %}:{{pydevd}}{%- endif -%}",DJANGO_SETTINGS_MODULE=etoxwsapi.settings

autorestart = true
autostart = true
user = {{SYS_APACHE_USER}}
stdout_logfile = /var/log/celery/{{ETOXWS_NAME}}{{_cel_variant}}.log
stderr_logfile = /var/log/celery/{{ETOXWS_NAME}}{{_cel_variant}}.log

