import os
import sys 

basepath = '{{ETOXWS_APPDIR}}'
sys.path.append(os.path.join(basepath, 'src'))

sys.path.append('{{etoxws_virtenv}}/lib/python{{python_version}}/site-packages')
sys.path.append('{{RDKIT_DIR}}/lib/python{{python_version}}/site-packages')

{% if not ETOXWS_PRODUCTION|bool %}
sys.path.append('{{pydevd}}')
{% endif %}

{% for p in (ETOXWS_IMPL_V1.PYPATH, ETOXWS_IMPL_V2.PYPATH) %}
{% if p|length > 0 %}
sys.path.extend('{{p}}'.split(':'))
{% endif %} 
{% endfor %} 

os.environ['DJANGO_SETTINGS_MODULE'] = 'etoxwsapi.settings'

import django.core.handlers.wsgi
application = django.core.handlers.wsgi.WSGIHandler()

#########################################################
_application = django.core.handlers.wsgi.WSGIHandler()

def application(environ, start_response):
  if not environ['PATH_INFO'].startswith(environ['SCRIPT_NAME']):
      environ['PATH_INFO'] = environ['SCRIPT_NAME'] + environ['PATH_INFO']

  os.environ['WSGI_SCRIPT_NAME'] = environ['SCRIPT_NAME'] #os.environ and environ are different variables

  if environ['PATH_INFO'] == environ['SCRIPT_NAME']:
    environ['PATH_INFO']  += "/"

  return _application(environ, start_response)
