<VirtualHost *:80>
  ServerAdmin webmaster@localhost

  DocumentRoot /srv/www/none
  <Directory />
    Options FollowSymLinks
    AllowOverride None
  </Directory>

  ErrorLog /var/log/httpd/etoxws-api-v2.error.log
  CustomLog /var/log/httpd/etoxws-api-v2.access.log combined

  # Possible values include: debug, info, notice, warn, error, crit,
  # alert, emerg.
  LogLevel warn

  <IfModule mod_wsgi.c>
	  # Debian style
    #WSGIScriptAlias / /etc/apache2/sites-available/etoxws.wsgi

		# RHEL style
    WSGIScriptAlias / /srv/www/webapps/etoxws-api/deploy/etoxws.wsgi
    WSGIApplicationGroup %{GLOBAL}
    WSGIDaemonProcess etoxwsapi processes=15 threads=1
    WSGIProcessGroup etoxwsapi
  </IfModule>

</VirtualHost>

