{% if APACHE_USE_HTTP == True %}
<VirtualHost *:80>
	ServerAdmin {{APACHE_SERVER_ADMIN}}
	ServerName  {{VHOST_SERVER_NAME}}
	DocumentRoot {{VHOST_DOC_ROOT}}
	LogLevel {{APACHE_LOG_LEVEL}}
	CustomLog {{APACHE_LOG_DIR}}/{{VHOST_SERVER_NAME}}.com_access.log combined
	ErrorLog  {{APACHE_LOG_DIR}}/{{VHOST_SERVER_NAME}}.com_error.log
  {{APACHE_INCLUDE_CONF}} {{VHOST_CONF_DIR}}/*.conf
  {{APACHE_INCLUDE_CONF}} {{VHOST_CONF_DIR}}/*.conf-nossl
</VirtualHost>
{% endif %}

{% if APACHE_USE_HTTPS  == True %}
<IfModule mod_ssl.c>
<VirtualHost *:443>
  ServerAdmin {{APACHE_SERVER_ADMIN}}
  ServerName  {{VHOST_SERVER_NAME}}
  DocumentRoot {{VHOST_DOC_ROOT}}
  LogLevel {{APACHE_LOG_LEVEL}}
  CustomLog {{APACHE_LOG_DIR}}/{{VHOST_SERVER_NAME}}-ssl.com_access.log combined
  ErrorLog  {{APACHE_LOG_DIR}}/{{VHOST_SERVER_NAME}}-ssl.com_error.log
	<IfModule mod_rewrite.c>
		RewriteLog {{APACHE_LOG_DIR}}/{{VHOST_SERVER_NAME}}-ssl_rewrite.log
		RewriteLogLevel 9
	</IfModule>
	SSLEngine on
	SSLProtocol All -SSLv2 -SSLv3
	SSLCertificateFile    {{VHOST_SSL_DIR}}/{{VHOST_SSL_CERTFILE}}
	SSLCertificateKeyFile {{VHOST_SSL_DIR}}/{{VHOST_SSL_KEYFILE}}
	{% if VHOST_SSL_CACERTFILE %}
	SSLCACertificateFile  {{VHOST_SSL_DIR}}/{{VHOST_SSL_CACERTFILE}}
	{% endif %}
	<FilesMatch "\.(cgi|shtml|phtml|php)$">
		SSLOptions +StdEnvVars
	</FilesMatch>
	<Directory /usr/lib/cgi-bin>
		SSLOptions +StdEnvVars
	</Directory>
	BrowserMatch "MSIE [2-6]" \
		nokeepalive ssl-unclean-shutdown \
		downgrade-1.0 force-response-1.0
	BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
  {{APACHE_INCLUDE_CONF}} {{VHOST_CONF_DIR}}/*.conf
  {{APACHE_INCLUDE_CONF}} {{VHOST_CONF_DIR}}/*.conf-ssl
</VirtualHost>
</IfModule>
{% endif %}
